---
import Layout from '../../layouts/Layout3_en.astro';
import akihirotamuraWeb1 from '../../assets/img/akihirotamura_web1.png';
import akihirotamuraWebVideo from '../../assets/mp4/akihirotamura_web1.mp4';

---

<Layout>
	<script>
    </script>

	<div class="container mx-auto px-4 animate__animated animate__fadeIn animate__slow">
		<div class="flex flex-col md:flex-row">
			<div class="hidden md:block md:w-1/8"></div>

            <div class="w-full md:w-6/8 rounded-md">
                <img class="" src={akihirotamuraWeb1.src} alt="">
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row md:items-center mt-12 ">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left text-base text-gray-600">
				<h3 class="font-sans text-4xl font-bold">AKIHIRO TAMURA</h3>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row md:items-center mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left">
				<p class="text-base font-serif text-gray-600">I created a website for Akihiro Tamura, a professional actor.</p>
                <p class="mt-3 text-base font-serif text-gray-600">We did a photo shoot in Tokyo, and I matched the site’s color palette with the main photos to create a consistent look.</p>
				<p class="mt-3 text-base font-serif text-gray-600">To showcase his charm as an actor, I kept the design simple and clean instead of using flashy effects.</p>
				<p class="mt-3 text-base font-serif text-gray-600">For the technical side, I used Astro and Tailwind CSS to make sure the website loads very fast.</p>
				<p class="mt-3 text-base font-serif text-gray-600">I also integrated microCMS so the content can be easily managed and updated without any coding.</p>
			</div>
		</div>

        <div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>

            <div class="w-full md:w-6/8 rounded-md">
                <video src={akihirotamuraWebVideo} autoplay muted loop playsinline></video>
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>

			<div class="w-full md:w-6/8 md:px-10 text-base text-gray-600">
				<div class="text-center">
					<a class="inline-block w-full font-sans bg-transparent hover:bg-gray-600 text-gray-600 hover:text-white py-2 border border-gray-600 hover:border-transparent rounded duration-500 " href="https://akihirotamura.com/" target="_blank">
						<p>view website</p>
					</a>
				</div>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">launched</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">2025.12</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">duration</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">about 1.5 months</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">client</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">acquaintance actor</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">tech stack</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">
                <p>Canon EOS 80D(camera) / Photoshop / Illustrator / Astro / Tailwind CSS / MicroCMS</p>
            </div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3 pb-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">my role:</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">photograph / design / coding</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

	</div>
</Layout>


