---
import Layout from '../../layouts/Layout3_jp.astro';
import earthtreeMuseum1 from '../../assets/img/earthtree_museum1.png';
import earthtreeMuseum2 from '../../assets/img/earthtree_museum2.png';
import earthtreeMuseum3 from '../../assets/img/earthtree_museum3.png';
---

<Layout>
	<script>

    </script>

	<div class="container mx-auto px-4 animate__animated animate__fadeIn animate__slow">
		<div class="flex flex-col md:flex-row">
			<div class="hidden md:block md:w-1/8"></div>

            <div class="w-full md:w-6/8 rounded-md">
                <img class="" class="" src={earthtreeMuseum1.src} alt="">
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row md:items-center mt-12 ">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left text-base text-gray-600">
				<h3 id="fadein_element11" class="font-sans text-4xl font-bold">eart htree village 資料館 キャプションパネル</h3>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row md:items-center mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left">
				<p class="text-base font-serif text-gray-600">カンボジアで活動を行うNPO法人earth treeの資料館に展示するキャプションを制作しました。</p>
                <p class="mt-3 text-base font-serif text-gray-600">NPO法人earth treeと活動拠点であるトロペアントム村の歴史をキャプションにまとめました。</p>
				<p class="mt-3 text-base font-serif text-gray-600">全体的な構成は統一しつつ、カンボジアの闇の歴史である内戦時代とNPO法人earth treeが関わり始めた後でキャプションのデザインを変化させました。</p>
			</div>
		</div>

		<div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>

            <div class="w-full md:w-6/8 rounded-md">
                <img src={earthtreeMuseum2.src}>
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>

            <div class="w-full md:w-6/8 rounded-md">
                <img src={earthtreeMuseum3.src}>
			</div>

			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">公開時期</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">2025.08</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">制作期間</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">2ヶ月程度</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">クライアント</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">NPO法人 earth tree</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">使用技術</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">
                <p>Photoshop / Illustrator</p>
            </div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="flex flex-col md:flex-row mt-3 pb-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full font-bold text-gray-600 md:w-1/8">担当範囲</div>
			<div class="w-full font-serif text-gray-600 md:w-5/8">デザイン</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

	</div>
</Layout>


