.ta01-text {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #696969;
  font-family: "Roboto Mono", monospace;
  font-weight: 700;
}

.ta01-text.is-active {
  --y: 0;
}

.ta01-char {
  display: inline-block;
  transform: translateY(var(--y, 110%));
  transition: transform 0.4s cubic-bezier(0.77, 0, 0.175, 1);
  transition-delay: calc(0.04s * var(--char-index));
}
