---
import Layout from '../layouts/Layout1.astro';
---

<Layout>

	<script>
		import '../js/index.js';
    </script>

	<div class="animate__animated animate__fadeIn">
		<div class="container mx-auto px-4">
			<div class="flex p-5 justify-end">
				<a class="font-sans text-gray-600 text-base font-bold" href="/">JPN</a>
			</div>
			<div class="flex flex-col md:flex-row md:items-center mt-12">
				<div class="hidden md:block md:w-1/8"></div>

				<div class="w-full md:w-3/4">
					<div class="headline">
						<div id="ta01-text1" class="p-2 ta01-text text-2xl md:text-6xl ">
							<span class="ta01-char text-orange-500" style="--char-index: 0"> D </span>
							<span class="ta01-char text-orange-500" style="--char-index: 1"> E </span>
							<span class="ta01-char text-orange-500" style="--char-index: 2"> S </span>
							<span class="ta01-char text-orange-500" style="--char-index: 3"> I </span>
							<span class="ta01-char text-orange-500" style="--char-index: 4"> G </span>
							<span class="ta01-char text-orange-500" style="--char-index: 5"> N </span>
							<span class="whitespace">&nbsp;</span>
							<span class="ta01-char text-gray-600" style="--char-index: 6"> y </span>
							<span class="ta01-char text-gray-600" style="--char-index: 7"> o </span>
							<span class="ta01-char text-gray-600" style="--char-index: 8"> u </span>
							<span class="ta01-char text-gray-600" style="--char-index: 9"> r </span>
							<span class="whitespace">&nbsp;</span>
							<span class="ta01-char text-gray-600" style="--char-index: 10"> v </span>
							<span class="ta01-char text-gray-600" style="--char-index: 11"> i </span>
							<span class="ta01-char text-gray-600" style="--char-index: 12"> s </span>
							<span class="ta01-char text-gray-600" style="--char-index: 13"> i </span>
							<span class="ta01-char text-gray-600" style="--char-index: 14"> o </span>
							<span class="ta01-char text-gray-600" style="--char-index: 15"> n </span>
							<span class="ta01-char text-gray-600" style="--char-index: 16"> . </span>
						</div>
					</div>
				</div>

				<div class="hidden md:block md:w-1/8"></div>
			</div>

			<div class="flex flex-col md:flex-row md:items-center md:mt-12 mt-3">
				<div class="hidden md:block md:w-1/8"></div>

				<div class="w-full md:w-3/4">
					<div class="headline">
						<div id="ta01-text2" class="p-2 ta01-text text-2xl md:text-6xl " >
							<span class="ta01-char text-blue-500" style="--char-index: 0"> S </span>
							<span class="ta01-char text-blue-500" style="--char-index: 1"> Y </span>
							<span class="ta01-char text-blue-500" style="--char-index: 2"> S </span>
							<span class="ta01-char text-blue-500" style="--char-index: 3"> T </span>
							<span class="ta01-char text-blue-500" style="--char-index: 4"> E </span>
							<span class="ta01-char text-blue-500" style="--char-index: 5"> M </span>
							<span class="ta01-char text-blue-500" style="--char-index: 6"> A </span>
							<span class="ta01-char text-blue-500" style="--char-index: 7"> T </span>
							<span class="ta01-char text-blue-500" style="--char-index: 8"> I </span>
							<span class="ta01-char text-blue-500" style="--char-index: 9"> Z </span>
							<span class="ta01-char text-blue-500" style="--char-index: 10"> E </span>
							<span class="whitespace">&nbsp;</span>
							<span class="ta01-char text-gray-600" style="--char-index: 11"> y </span>
							<span class="ta01-char text-gray-600" style="--char-index: 12"> o </span>
							<span class="ta01-char text-gray-600" style="--char-index: 13"> u </span>
							<span class="ta01-char text-gray-600" style="--char-index: 14"> r </span>
							<span class="whitespace">&nbsp;</span>
							<span class="ta01-char text-gray-600" style="--char-index: 15"> i </span>
							<span class="ta01-char text-gray-600" style="--char-index: 16"> d </span>
							<span class="ta01-char text-gray-600" style="--char-index: 17"> e </span>
							<span class="ta01-char text-gray-600" style="--char-index: 18"> a </span>
							<span class="ta01-char text-gray-600" style="--char-index: 19"> . </span>
						</div>
					</div>
				</div>

				<div class="hidden md:block md:w-1/8"></div>
			</div>

			<div class="flex flex-col md:flex-row md:items-center mt-12">
				<div class="hidden md:block md:w-1/8"></div>

				<div class="w-full md:w-3/4 text-gray-600 ">
					<p class="text-center text-base font-serif animate__animated animate__fadeIn animate__delay-1s"> — &quot; Vision &quot; to <span class="text-orange-500">Design</span>. — </p>
					<p class="mt-3 text-center text-base font-serif animate__animated animate__fadeIn animate__delay-1s"> — &quot; Ideas  &quot; to <span class="text-blue-500">Systems</span>. — </p>

					<p class="mt-12 text-center text-base font-sans animate__animated animate__fadeIn animate__delay-2s">Welcome to YUYA IKEDA portfolio.</p>
					<p class="mt-3 text-center text-base font-sans animate__animated animate__fadeIn animate__delay-2s">Please select a portfolio.</p>
				</div>

				<div class="hidden md:block md:w-1/8"></div>
			</div>

			<div class="flex flex-col md:flex-row md:items-center mt-12">
				<div class="hidden md:block md:w-1/8"></div>

				<div class="p-2 w-80 md:w-3/4 text-gray-600 text-center animate__animated animate__fadeIn animate__delay-3s">
					<a class="inline-block w-80 font-sans bg-transparent hover:bg-gray-600 text-gray-600 hover:text-white py-2 px-4 border border-gray-600 hover:border-transparent rounded duration-500" href="/detail_en"> DETAILED portfolio </a>
					<p class="text-xs p-2">if you have time.</p>
				</div>
				<div class="p-2 w-80 md:w-3/4 text-gray-600 text-center animate__animated animate__fadeIn animate__delay-3s">
					<a class="inline-block w-80 font-sans bg-transparent hover:bg-gray-600 text-gray-600 hover:text-white py-2 px-4 border border-gray-600 hover:border-transparent rounded duration-500" href="/quick_en"> 3-MINUTE Portfolio </a>
					<p class="text-xs p-2">if you are busy.</p>
				</div>
				<div class="hidden md:block md:w-1/8"></div>
			</div>
		</div>
	</div>
</Layout>