---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<script>
		import '../js/text-animation01.js';
    </script>
	<div class="animate__animated animate__fadeIn">
		<div class="container mx-auto px-4 mt-12">
			<div class="flex flex-col md:flex-row md:items-center">
				<div class="hidden md:block md:w-1/8"></div>

				<div class="w-full md:w-3/4">
					<div class="headline">
						<div id="text1" class="p-2 text text-2xl md:text-6xl ">
							<span class="char text-orange-500" style="--char-index: 0"> D </span>
							<span class="char text-orange-500" style="--char-index: 1"> E </span>
							<span class="char text-orange-500" style="--char-index: 2"> S </span>
							<span class="char text-orange-500" style="--char-index: 3"> I </span>
							<span class="char text-orange-500" style="--char-index: 4"> G </span>
							<span class="char text-orange-500" style="--char-index: 5"> N </span>
							<span class="whitespace">&nbsp;</span>
							<span class="char" style="--char-index: 6"> y </span>
							<span class="char" style="--char-index: 7"> o </span>
							<span class="char" style="--char-index: 8"> u </span>
							<span class="char" style="--char-index: 9"> r </span>
							<span class="whitespace">&nbsp;</span>
							<span class="char" style="--char-index: 10"> v </span>
							<span class="char" style="--char-index: 11"> i </span>
							<span class="char" style="--char-index: 12"> s </span>
							<span class="char" style="--char-index: 13"> i </span>
							<span class="char" style="--char-index: 14"> o </span>
							<span class="char" style="--char-index: 15"> n </span>
							<span class="char" style="--char-index: 16"> . </span>
						</div>
					</div>
				</div>

				<div class="hidden md:block md:w-1/8"></div>
			</div>

			<div class="flex flex-col md:flex-row md:items-center mt-12">
				<div class="hidden md:block md:w-1/8"></div>

				<div class="w-full md:w-3/4">
					<div class="headline">
						<div id="text2" class="p-2 text text-2xl md:text-6xl " >
							<span class="char text-blue-500" style="--char-index: 0"> S </span>
							<span class="char text-blue-500" style="--char-index: 1"> Y </span>
							<span class="char text-blue-500" style="--char-index: 2"> S </span>
							<span class="char text-blue-500" style="--char-index: 3"> T </span>
							<span class="char text-blue-500" style="--char-index: 4"> E </span>
							<span class="char text-blue-500" style="--char-index: 5"> M </span>
							<span class="char text-blue-500" style="--char-index: 6"> A </span>
							<span class="char text-blue-500" style="--char-index: 7"> T </span>
							<span class="char text-blue-500" style="--char-index: 8"> I </span>
							<span class="char text-blue-500" style="--char-index: 9"> Z </span>
							<span class="char text-blue-500" style="--char-index: 10"> E </span>
							<span class="whitespace">&nbsp;</span>
							<span class="char" style="--char-index: 11"> y </span>
							<span class="char" style="--char-index: 12"> o </span>
							<span class="char" style="--char-index: 13"> u </span>
							<span class="char" style="--char-index: 14"> r </span>
							<span class="whitespace">&nbsp;</span>
							<span class="char" style="--char-index: 15"> v </span>
							<span class="char" style="--char-index: 16"> i </span>
							<span class="char" style="--char-index: 17"> s </span>
							<span class="char" style="--char-index: 18"> i </span>
							<span class="char" style="--char-index: 19"> o </span>
							<span class="char" style="--char-index: 20"> n </span>
							<span class="char" style="--char-index: 21"> . </span>
						</div>
					</div>
				</div>

				<div class="hidden md:block md:w-1/8"></div>
			</div>

			<div class="flex flex-col md:flex-row md:items-center mt-12">
				<div class="hidden md:block md:w-1/8"></div>

				<div class="w-full md:w-3/4 text-gray-600 ">
					<p class="text-center text-base font-serif animate__animated animate__fadeIn animate__delay-1s">— 想いを<span class="text-orange-500">デザイン</span> にします —</p>
					<p class="mt-3 text-center text-base font-serif animate__animated animate__fadeIn animate__delay-1s">— 想いを<span class="text-blue-500">システム</span> にします —</p>

					<p class="mt-12 text-center text-base font-sans animate__animated animate__fadeIn animate__delay-2s">Yuya Ikeda のポートフォリオサイトへようこそ。<br>ポートフォリオを選択してください。</p>
				</div>

				<div class="hidden md:block md:w-1/8"></div>
			</div>

			<div class="flex flex-col md:flex-row md:items-center mt-12">
				<div class="hidden md:block md:w-1/8"></div>

				<div class="p-2 w-80 md:w-3/4 text-gray-600 text-center animate__animated animate__fadeIn animate__delay-3s">
					<button class="w-80 font-sans bg-transparent hover:bg-gray-600 text-gray-600 hover:text-white py-2 px-4 border border-gray-600 hover:border-transparent rounded duration-500">
						<a href="">詳しくわかるポートフォリオ</a>
					</button>
				</div>
				<div class="p-2 w-80 md:w-3/4 text-gray-600 text-center animate__animated animate__fadeIn animate__delay-3s">
					<button class="w-80 font-sans bg-transparent hover:bg-gray-600 text-gray-600 hover:text-white py-2 px-4 border border-gray-600 hover:border-transparent rounded duration-500">
						<a href="">5分でわかるポートフォリオ</a>
					</button>
				</div>

				<div class="hidden md:block md:w-1/8"></div>
			</div>
		</div>
	</div>
</Layout>