---
import Layout from '../layouts/Layout3.astro';

---

<Layout>
	<script>
    	import '../js/about.js';
    </script>

	<div class="container mx-auto px-4 mt-12 animate__animated animate__fadeIn animate__slow">

		<div class="flex flex-col md:flex-row md:items-center mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left text-base text-gray-600">
				<h3 id="fadein_element01" class="font-sans text-4xl font-bold">privacy policy</h3>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div id="fadein_element02" class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full text-gray-600 md:w-3/4">
                <p class="text-base font-bold mt-3 font-sans text-gray-600">1. 個人情報の取得</p>
                <p class="text-base mt-3 font-serif text-gray-600">適法かつ公正な手段によって個人情報を取得する。</p>
                <p class="text-base mt-3 font-serif text-gray-600">偽りその他不正の手段により取得することはない。</p>
                <p class="text-base font-bold mt-12 font-sans text-gray-600">2. 利用目的</p>
                <p class="text-base mt-3 font-serif text-gray-600">取得した個人情報は、以下の目的の範囲内で利用する。</p>
                <p class="text-base mt-3 font-serif text-gray-600">a. サービスの提供および本人確認</p>
                <p class="text-base mt-3 font-serif text-gray-600">b. お問い合わせへの対応</p>
                <p class="text-base mt-3 font-serif text-gray-600">c. 規約違反行為の調査および対応</p>
                <p class="text-base font-bold mt-12 font-sans text-gray-600">3. 第三者提供の禁止</p>
                <p class="text-base mt-3 font-serif text-gray-600">原則として、本人の同意を得ることなく個人情報を第三者に提供しない。</p>
                <p class="text-base mt-3 font-serif text-gray-600">ただし、法令に基づく場合、または生命・身体の保護のために緊急を要する場合はこの限りではない。</p>
                <p class="text-base font-bold mt-12 font-sans text-gray-600">4. 開示・訂正・利用停止</p>
                <p class="text-base mt-3 font-serif text-gray-600">本人から個人情報の開示、訂正、または削除を求められた場合は、遅滞なくこれに対応する。</p>
                <p class="text-base font-bold mt-12 font-sans text-gray-600">5. お問い合わせ窓口</p>
                <p class="text-base mt-3 font-serif text-gray-600">本ポリシーに関するお問い合わせは、以下の窓口で受け付ける。</p>
                <p class="text-base mt-3 font-serif text-gray-600">連絡先を記載: 0930arnaud@gmail.com</p>
            </div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="pb-12"></div>
	</div>
</Layout>


