---
import Layout from '../layouts/Layout3_en.astro';

---

<Layout>
	<script>
    	import '../js/about.js';
    </script>

	<div class="container mx-auto px-4 mt-12 animate__animated animate__fadeIn animate__slow">

		<div class="flex flex-col md:flex-row md:items-center mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full md:w-3/4 text-left text-base text-gray-600">
				<h3 class="font-sans text-4xl font-bold">privacy policy</h3>
			</div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

		<div id="fadein_element02" class="flex flex-col md:flex-row mt-12">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full text-gray-600 md:w-3/4">
                <p class="text-base font-bold mt-3 font-sans text-gray-600">1. Collecting Personal Information</p>
                <p class="text-base mt-3 font-serif text-gray-600">I collect personal information in a legal and fair way.</p>
                <p class="text-base mt-3 font-serif text-gray-600">I never use dishonest or illegal methods to obtain your data.</p>
                <p class="text-base font-bold mt-12 font-sans text-gray-600">2. How I Use Your Information</p>
                <p class="text-base mt-3 font-serif text-gray-600">I use the information I collect for the following purposes:</p>
                <p class="text-base mt-3 font-serif text-gray-600">a. To provide services and verify your identity.</p>
                <p class="text-base mt-3 font-serif text-gray-600">b. To respond to your questions or inquiries.</p>
                <p class="text-base mt-3 font-serif text-gray-600">c. To investigate and handle any violations of my terms of service.</p>
                <p class="text-base font-bold mt-12 font-sans text-gray-600">3. Sharing with Third Parties</p>
                <p class="text-base mt-3 font-serif text-gray-600">As a rule, I do not share your personal information with anyone else without your permission.</p>
                <p class="text-base mt-3 font-serif text-gray-600">Exceptions: I may share information if required by law, or in case of an emergency involving a person's life or safety.</p>
                <p class="text-base font-bold mt-12 font-sans text-gray-600">4. Accessing and Updating Your Information</p>
                <p class="text-base mt-3 font-serif text-gray-600">If you would like to see, correct, or delete your personal information, please let me know. I will respond to your request as quickly as possible.</p>
                <p class="text-base font-bold mt-12 font-sans text-gray-600">5. Contact</p>
                <p class="text-base mt-3 font-serif text-gray-600">If you have any questions about this policy, please contact me at:</p>
                <p class="text-base mt-3 font-serif text-gray-600">Email: 0930arnaud@gmail.com</p>
            </div>
			<div class="hidden md:block md:w-1/8"></div>
		</div>

        <div class="pb-12"></div>
	</div>
</Layout>


