---
import Layout from '../layouts/Layout3_jp.astro';
import myBackground from '../assets/img/sky.jpg';

---

<Layout>
	<script>
		import '../js/contact.js';
    </script>

    <div class="py-15" style={`background-image: url('${myBackground.src}')`}>
        <div class="headline">
            <div id="ta01-main-text" class="p-2 ta01-text text-4xl md:text-6xl ">
                <span class="ta01-char font-bold text-white" style="--char-index: 1"> t </span>
                <span class="ta01-char font-bold text-white" style="--char-index: 2"> h </span>
                <span class="ta01-char font-bold text-white" style="--char-index: 3"> a </span>
                <span class="ta01-char font-bold text-white" style="--char-index: 4"> n </span>
                <span class="ta01-char font-bold text-white" style="--char-index: 5"> k </span>
				<span class="whitespace">&nbsp;</span>
                <span class="ta01-char font-bold text-white" style="--char-index: 6"> y </span>
                <span class="ta01-char font-bold text-white" style="--char-index: 7"> o </span>
                <span class="ta01-char font-bold text-white" style="--char-index: 8"> u </span>
                <span class="ta01-char font-bold text-white" style="--char-index: 9"> ! </span>
            </div>
        </div>
    </div>

	<div class="container mx-auto px-4 mt-12 animate__animated animate__fadeIn animate__slow">
		<div class="flex flex-col md:flex-row">
			<div class="hidden md:block md:w-1/8"></div>
			<div class="w-full text-center md:w-3/4 text-gray-600">
				<p class="font-sans text-xl font-bold">Thank you!</p>
				<p class="mt-12 text-base font-serif">メッセージを送信しました。</p>
				<p class="mt-3 text-base font-serif">返信まで1週間前後お時間がかかる場合がございます。</p>
				<p class="mt-3 text-base font-serif">ご了承くださいませ。</p>
				<div class="m-12 items-center">
					<a class="inline-block w-full md:w-75 font-sans bg-transparent hover:bg-gray-600 text-gray-600 hover:text-white py-2 border border-gray-600 hover:border-transparent rounded duration-500" href="/detail_jp">
						<p> Home </p>
					</a>
				</div>
			</div>
		</div>
	</div>
</Layout>


