---
import 'animate.css';
import '../styles/global.css';
import '../styles/loading.css';
import '../styles/text-animation01.css';
import favicon from '../assets/img/favicon.ico';
---
<!doctype html>
<html lang="ja">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" href={favicon} sizes="64x64">
        <title>YUYA IKEDA portfolio</title>
    </head>
    <body class="bg-gray-200">
        <script>
        import '../js/loading-script.js';
        </script>
        <div class="loading bg-gray-200" id="loading">
            <div class="spinner"></div>
            <p class="loading-text">Loading...</p>
        </div>
        <div class="hidden h-screen" id="content">
            <slot/>
        </div>
    </body>
</html>
